<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzs.mapper.ReportMapper">

<!--查询各个职位员工数量-->
    <select id="countOfJob" resultType="java.util.Map">
        select case job when 1 then '班主任'
                        when 2 then '讲师'
                        when 3 then '学工主管'
                        when 4 then '教研主管'
                        when 5 then '咨询师'
                        else '其他'  end as pos
             ,count(*) sum
        from emp group by job order by sum
    </select>
    <select id="getGenderData" resultType="java.util.Map">
        select if(gender=1,'男性员工','女性员工') as name,count(*) value
        from emp group by gender
    </select>
</mapper>